@import "tailwindcss";

@layer base {
  html {
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body {
    background-color: rgb(8 15 32);
    color: rgb(248 250 252);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
